<nav class="bg-white border-gray-200 dark:bg-gray-800">
    <div class="max-w-screen-xl flex">
        <button type="button" class="flex-1 text-white font-medium rounded-lg text-sm px-2.5 py-2.5">
            +
        </button>
        <button type="button" class="flex-1 text-white font-medium rounded-lg text-sm px-2.5 py-2.5">
            +
        </button>
        <button type="button" class="flex-1 text-white font-medium rounded-lg text-sm px-2.5 py-2.5">
            +
        </button>
        <button type="button" class="flex-1 text-white font-medium rounded-lg text-sm px-2.5 py-2.5">
            +
        </button>
    </div>
</nav>