<nav class="bg-white border-gray-200 dark:bg-gray-800">
    <div class="max-w-screen-xl flex">
        <button type="button" class="text-gray-300 flex-1 text-white font-medium text-sm px-2.5 py-2.5">
            <em class="fa-solid fa-house-chimney"></em>
        </button>
        <button type="button" class="text-gray-300 flex-1 text-white font-medium text-sm px-2.5 py-2.5">
            <em class="fa-solid fa-key"></em>
        </button>
        <button type="button" class="text-gray-300 flex-1 text-white font-medium text-sm px-2.5 py-2.5">
            <em class="fa-solid fa-sliders"></em>
        </button>
        <button type="button" class="text-red-500 flex-1 text-white font-medium text-sm px-2.5 py-2.5">
            <em class="fa-solid fa-arrow-right-from-bracket"></em>
        </button>
    </div>
</nav>