<div class="bg-white dark:bg-gray-900 text-white h-full">
    <div class="pt-3">
        <div class="border-l-4 border-indigo-500">
            <h2 class="ml-3 text-sm text-gray-300">Auto-fill</h2>
        </div>

        <ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
            <li class="pb-3 sm:pb-4">
                <div class="flex items-center space-x-4 p-3">
                    <div class="flex-1 min-w-0">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                            Website title
                        </p>
                        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                            foo@email.com
                        </p>
                    </div>
                    <div class="flex inline-flex items-center text-base text-gray-900 dark:text-white">
                        <div>
                            <em class="fa-solid fa-pen-to-square"></em>
                        </div>

                        <div>
                            <em class="fa-solid fa-user"></em>
                        </div>

                        <div>
                            <em class="fa-solid fa-lock"></em>
                        </div>

                        <div>
                            <em class="fa-solid fa-clock"></em>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div>
        <div class="border-l-4 border-indigo-500">
            <h2 class="ml-3 text-sm text-gray-300">Folders</h2>
        </div>

        <ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
            <li class="pb-3 sm:pb-4">
                <div class="flex items-center space-x-4 p-3">
                    <div class="flex-1 min-w-0">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                            Folder name
                        </p>
                        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                            description
                        </p>
                    </div>
                    <div class="inline-flex items-center text-base text-gray-900 dark:text-white">
                        120
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div>
        <div class="border-l-4 border-indigo-500">
            <h2 class="ml-3 text-sm text-gray-300">Password</h2>
        </div>

        <ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
            <li class="pb-3 sm:pb-4">
                <div class="flex items-center space-x-4 p-3">
                    <div class="flex-1 min-w-0">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                            Website title
                        </p>
                        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                            foo@email.com
                        </p>
                    </div>
                    <div class="flex inline-flex items-center text-base text-gray-900 dark:text-white">
                        <div>
                            <em class="fa-solid fa-pen-to-square"></em>
                        </div>

                        <div>
                            <em class="fa-solid fa-user"></em>
                        </div>

                        <div>
                            <em class="fa-solid fa-lock"></em>
                        </div>

                        <div>
                            <em class="fa-solid fa-clock"></em>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>